pandas~=3.0.2
numpy~=2.4.4
tqdm~=4.67.3
xgboost~=3.2.0
scikit-learn~=1.8.0
opencv-python~=4.13.0.92
pillow~=10.2.0
fastapi~=0.136.1
tensorflow~=2.21.0
requests~=2.31.0
plotly~=6.7.0
streamlit~=1.57.0
matplotlib~=3.10.9
seaborn~=0.13.2
joblib~=1.5.3
lightgbm~=4.6.0
catboost~=1.2.10
pydantic~=2.13.4
nltk~=3.9.4
ultralytics~=8.4.53
dash~=4.1.0
dash-bootstrap-components~=2.0.4